body,html {
    margin:0;
    padding:0;
  }

.content{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #3498db;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    padding: 30px;
}

.content .new_contact{
    background-color: #192a56;
    border-radius: 10px;
    border-style: solid;
    border-color: #192a56;
    width: 70px;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 1em;
}



.buttons{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #3498db;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    color: blanchedalmond;
}

.actions{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #192a56;
    border-radius: 10px;
    border-style: solid;
    border-color: #192a56;
    width: 70px;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.table_contacts{
    margin-top: 10px;
    width: 100%;
}


.table_contacts th, td{
    width: 50%;
    height: 30px;
    border: 1px solid;
    border-radius: 10px;

}

.table_contacts td{
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.table_contacts td a{
    text-decoration: none;
}

.contact{
    border: 1px solid;
    border-radius: 10px;
    border-color: darkolivegreen;
    padding-left: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
  }
  input[type=fone] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
  }

  input[type=submit]{
    background-color: #192a56;
    border-radius: 10px;
    border-style: solid;
    border-color: #192a56;
    width: 70px;
    height: 30px;
    color: blanchedalmond;
    font-weight: bold;
    font-size: 1em;
  }

  @media only screen and (max-width: 650px) 
  {
    .table_contacts{
        margin-top: 5px;
        width: 90%;
    }
    
  }
  
  @media only screen and (max-width: 420px) 
  {
    .table_contacts{
        margin-top: 5px;
        width: 80%;
    }
    .table_contacts td{
        padding-left: 1px;
        font-size: 15px;
    }
    
  }